@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

:root{
    --base-color: #2F4550;
    --base-variant: #586F7C;
    --text-color: #F4F4F9;
    --secondary-text: #000000;
    --primary-color: #7ea4a2; 
    --accent-color:  #B8DBD9;
}

.modo_claro{
    --base-color: #586F7C;
    --base-variant: #2F4550;
    --text-color: #000000;
    --secondary-text: #F4F4F9;
    --primary-color: #7ea4a2; 
    --accent-color:  #B8DBD9;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(47,69,80,1) 35%, rgba(45,147,168,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #F4F4F9;
    font-size: 25px;
    margin: 0;
}

body.modo_claro {
    --base-variant: #2F4550;
    --text-color: #000000;
    --secondary-text: #F4F4F9;
    --primary-color: #7ea4a2; 
    --accent-color: #B8DBD9;
    background: rgb(2,0,36);
    background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(126,164,162,1) 35%, rgba(24,179,210,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#trocar_tema{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 5px;
    right: 20px;
}

#trocar_tema svg:last-child{
    display: none;
}

#paragrafo_sobre{
    width: 700px;
}

#div_sobre{
    display: flex;
    justify-content: space-between;
}

#div_stack{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
}

#div_projetos{
    display: grid;
    grid-template-columns: auto;
}


.container{
    font-family: 'Bruno Ace SC';
    padding: 25px;
}

.div_tecnologias{
    border: 3px solid var(--accent-color);
    border-radius: 30px;
    align-items: center;
    padding: 20px;
}

.modo_claro #trocar_tema svg:first-child{
    display: none;
}

.modo_claro #trocar_tema svg:last-child{
    display: block;
}

.cabecalho__menu{
    display: flex;
    justify-content: flex-start;
    background-color: var(--base-variant);
    height: 60px;
    gap: 40px;
    padding-left: 20px;
}

.cabecalho__menu__link {
    font-family: 'Bruno Ace SC';
    font-size: 24px;
    font-weight: 600;
    padding-top: 15px;
    color: #F4F4F9;
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--primary-color);
}

.ativo{
    color: var(--accent-color);
}

.apresentacao_links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 0px;
}

.apresentacao_links_link {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 16px;
    border: 3px solid var(--accent-color);
    width: 278px;
    text-align: center;
    border-radius: 30px;
    font-size: 24px; 
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Bruno Ace SC';
    padding: 15px;
}

.apresentacao_links_link:hover{
    color: var(--accent-color)
}

.logo_redes {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.div_projeto_esq{
    display: flex;
    flex-direction: column;
    align-items: start;
    font-family: 'Bruno Ace SC';
    padding: 20px;
    gap: 40px;
}

.div_projeto_esq p, .div_projeto_dir p{
    width: 700px;
}

.div_projeto_dir{
    display: flex;
    flex-direction: column;
    align-items: end;
    font-family: 'Bruno Ace SC';
    padding: 20px;
    gap: 40px;
}

.certificados{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 16px;
    border: 3px solid var(--accent-color);
    width: 500px;
    text-align: center;
    border-radius: 15px;
    font-size: 20px; 
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Bruno Ace SC';
    padding: 15px;
}

.div_certificados{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 40px; 
    padding: auto;
}